code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

code.highlighter-rouge {
  padding: 0.2em 0;
  font-size: 85%;
  border-radius: 3px;
  font-style: italic;
  background-color: transparentize($baseColor, 0.9);
  &:before,
  &:after {
    content: '\00a0';
    letter-spacing: -0.2em;
  }
}
